# Configuración de base de datos SQL Server
DB_USER=tu_usuario_sql
DB_PASSWORD=tu_contraseña_sql
DB_SERVER=tu_servidor_sql (ej. localhost o nombre_instancia)
DB_NAME=nombre_de_tu_base_de_datos


# Configuración de pruebas
# Si TEST_MODE es 'true', todos los mensajes se enviarán a TEST_PHONE_NUMBER
TEST_MODE=false
TEST_PHONE_NUMBER=3128641572


# Configuración de Correo (SMTP)
EMAIL_ENABLED=true
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contraseña_o_token_de_aplicacion
EMAIL_FROM="MEDIMUJER" <tu_correo@gmail.com>

# Configuración de pruebas para Correo
EMAIL_TEST_MODE=false
EMAIL_TEST_ADDRESS=correo_de_pruebas@correo.com

# Intervalo de revisión en minutos si la consulta no encuentra citas (ej. 15 o 30)
POLLING_INTERVAL_EMPTY_MINUTES=15


