# Configuración de base de datos SQL Server
DB_USER=tu_usuario_sql
DB_PASSWORD=tu_contraseña_sql
DB_SERVER=tu_servidor_sql (ej. localhost o nombre_instancia)
DB_NAME=nombre_de_tu_base_de_datos


# Configuración de pruebas
# Si TEST_MODE es 'true', todos los mensajes se enviarán a TEST_PHONE_NUMBER
TEST_MODE=false
TEST_PHONE_NUMBER=3128641572


